* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', sans-serif;
}
body {
    margin-top: 2%;
}
::selection {
    background: #b7ffe86f; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #b7ffe86f; /* Gecko Browsers */
}